h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 34px;
	font-weight: bold;
	color:#ffffff;
	display: inline-block;
	background-color: #4aaaa5;
	text-align: center;
	float: left;
	margin-left:20px;
	padding:25px;
}

nav {
	background-color: #ffffff;
	color:#777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-decoration: none;
	float: right;	
}

.a {
	text-decoration: none;
	color: #777777;
	padding: 0px 10px;
  	word-wrap: normal;
  	display: inline-block;
  	border-right: solid 1px;
  	border-color: #777777;
  	text-align: center;
}

.header {
	height: 92px;
	width: auto;
	background-color: #ffffff;
}

.content {
	width: 960px;
	height: auto;
}

body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-color: #dddddd;
	height: auto;
	background-image: url(../images/background.png);
}

nav {
	background-color: #ffffff;
	font-size: 18px;
	padding-bottom: 5px;
	text-align: center;
	text-decoration: none;
}
section {
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #777777;
	width: 608px;
	height:auto;
	line-height: 1.5;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.secHeader {
	font-weight: bold;
	font-size: 30px;
	color:#4aaaa5;
	display: inline-block;
}

footer {
	border-top: 5px;
	border-style: solid;
	border-color: #4aaaa5;
	font-size: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	vertical-align: middle;
	margin-top: 20px;
}

aside {
	
	border: 1px solid;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #777777;
	width:268px;
	height:120px;
    float: right;
    text-align: center;
}


ul { 	
	height: auto;
	width: auto;
}
li {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	display:inline;

}

.icon {
	height: 50px;
	width: 50px;
	padding-top: 10px;
}

.foot-box {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color:#666666; 
    text-align: center;
    color: #777777;
    vertical-align: middle;
}


#profilepic {
	float:left;
	height: 175px;
	width: 175px;
	padding-right: 20px;
}
